body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-228px;
  width:1817px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:1735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10718 {
  border-width:0px;
  position:absolute;
  left:1767px;
  top:213px;
  width:278px;
  height:1735px;
  display:flex;
}
#u10718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u10719 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:139px;
  width:734px;
  height:77px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u10719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u10720 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:139px;
  width:807px;
  height:77px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u10720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10721 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:213px;
  width:734px;
  height:1735px;
  display:flex;
}
#u10721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:1735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10722 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:213px;
  width:807px;
  height:1735px;
  display:flex;
}
#u10722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10723 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:213px;
  width:90px;
  height:377px;
  display:flex;
  font-size:16px;
}
#u10723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:1197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10724 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:590px;
  width:90px;
  height:1197px;
  display:flex;
  font-size:16px;
}
#u10724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10725 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:1833px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10726 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:826px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10727 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1327px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10728 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:886px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10728_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:337px;
}
#u10728_seg1 {
  border-width:0px;
  position:absolute;
  left:-528px;
  top:327px;
  width:533px;
  height:10px;
}
#u10728_seg2 {
  border-width:0px;
  position:absolute;
  left:-528px;
  top:327px;
  width:10px;
  height:114px;
}
#u10728_seg3 {
  border-width:0px;
  position:absolute;
  left:-533px;
  top:426px;
  width:20px;
  height:20px;
}
#u10728_text {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:324px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10729 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:1387px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10729_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:38px;
}
#u10729_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:28px;
  width:1195px;
  height:10px;
}
#u10729_seg2 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:28px;
  width:10px;
  height:48px;
}
#u10729_seg3 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:61px;
  width:20px;
  height:20px;
}
#u10729_text {
  border-width:0px;
  position:absolute;
  left:548px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10730 {
  border-width:0px;
  position:absolute;
  left:1856px;
  top:1463px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10731 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:464px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10731_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:167px;
}
#u10731_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:157px;
  width:730px;
  height:10px;
}
#u10731_seg2 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:157px;
  width:10px;
  height:205px;
}
#u10731_seg3 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:347px;
  width:20px;
  height:20px;
}
#u10731_text {
  border-width:0px;
  position:absolute;
  left:329px;
  top:154px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10732 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:826px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10733 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1580px;
  width:90px;
  height:368px;
  display:flex;
  font-size:16px;
}
#u10733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10734 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:464px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10734_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:253px;
}
#u10734_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:243px;
  width:633px;
  height:10px;
}
#u10734_seg2 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:243px;
  width:10px;
  height:119px;
}
#u10734_seg3 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:347px;
  width:20px;
  height:20px;
}
#u10734_text {
  border-width:0px;
  position:absolute;
  left:194px;
  top:240px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u10735 {
  border-width:0px;
  position:absolute;
  left:1767px;
  top:139px;
  width:278px;
  height:77px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u10735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10736 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:263px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10737 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:263px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10738 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:263px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10739 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:404px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10740 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:323px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10740_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:86px;
}
#u10740_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u10740_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10741 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:404px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10742 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:404px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10743 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:323px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10743_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:86px;
}
#u10743_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u10743_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10744 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:323px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10744_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:86px;
}
#u10744_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u10744_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10745 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:826px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10746 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:464px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10746_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:313px;
}
#u10746_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:303px;
  width:636px;
  height:10px;
}
#u10746_seg2 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:303px;
  width:10px;
  height:59px;
}
#u10746_seg3 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:347px;
  width:20px;
  height:20px;
}
#u10746_text {
  border-width:0px;
  position:absolute;
  left:136px;
  top:300px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10747 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:856px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10747_seg0 {
  border-width:0px;
  position:absolute;
  left:-581px;
  top:-5px;
  width:581px;
  height:10px;
}
#u10747_seg1 {
  border-width:0px;
  position:absolute;
  left:-581px;
  top:-5px;
  width:10px;
  height:982px;
}
#u10747_seg2 {
  border-width:0px;
  position:absolute;
  left:-586px;
  top:962px;
  width:20px;
  height:20px;
}
#u10747_text {
  border-width:0px;
  position:absolute;
  left:-626px;
  top:193px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10748 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:949px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10749 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:856px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10749_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u10749_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-5px;
  width:10px;
  height:98px;
}
#u10749_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:78px;
  width:20px;
  height:20px;
}
#u10749_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10750 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:1009px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10750_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:463px;
}
#u10750_seg1 {
  border-width:0px;
  position:absolute;
  left:-904px;
  top:453px;
  width:909px;
  height:10px;
}
#u10750_seg2 {
  border-width:0px;
  position:absolute;
  left:-904px;
  top:453px;
  width:10px;
  height:371px;
}
#u10750_seg3 {
  border-width:0px;
  position:absolute;
  left:-909px;
  top:809px;
  width:20px;
  height:20px;
}
#u10750_text {
  border-width:0px;
  position:absolute;
  left:-454px;
  top:450px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10751 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:886px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10751_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:339px;
}
#u10751_seg1 {
  border-width:0px;
  position:absolute;
  left:-780px;
  top:329px;
  width:785px;
  height:10px;
}
#u10751_seg2 {
  border-width:0px;
  position:absolute;
  left:-780px;
  top:329px;
  width:10px;
  height:112px;
}
#u10751_seg3 {
  border-width:0px;
  position:absolute;
  left:-785px;
  top:426px;
  width:20px;
  height:20px;
}
#u10751_text {
  border-width:0px;
  position:absolute;
  left:-324px;
  top:326px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10752 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:970px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10753 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:856px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10753_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:109px;
  height:10px;
}
#u10753_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-5px;
  width:10px;
  height:119px;
}
#u10753_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:99px;
  width:20px;
  height:20px;
}
#u10753_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10754 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1024px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10755 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:1327px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10756 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:1357px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10756_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:64px;
  height:10px;
}
#u10756_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10756_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10757 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:1626px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10758 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:1523px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10758_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u10758_seg1 {
  border-width:0px;
  position:absolute;
  left:-1279px;
  top:42px;
  width:1284px;
  height:10px;
}
#u10758_seg2 {
  border-width:0px;
  position:absolute;
  left:-1279px;
  top:42px;
  width:10px;
  height:61px;
}
#u10758_seg3 {
  border-width:0px;
  position:absolute;
  left:-1284px;
  top:88px;
  width:20px;
  height:20px;
}
#u10758_text {
  border-width:0px;
  position:absolute;
  left:-692px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10759 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:886px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10759_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:143px;
}
#u10759_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:123px;
  width:20px;
  height:20px;
}
#u10759_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10760 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:1030px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10760_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:443px;
}
#u10760_seg1 {
  border-width:0px;
  position:absolute;
  left:-1202px;
  top:433px;
  width:1207px;
  height:10px;
}
#u10760_seg2 {
  border-width:0px;
  position:absolute;
  left:-1202px;
  top:433px;
  width:10px;
  height:370px;
}
#u10760_seg3 {
  border-width:0px;
  position:absolute;
  left:-1207px;
  top:788px;
  width:20px;
  height:20px;
}
#u10760_text {
  border-width:0px;
  position:absolute;
  left:-612px;
  top:430px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10761 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:1734px;
  width:100px;
  height:60px;
  display:flex;
  font-size:14px;
}
#u10761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10762 {
  border-width:0px;
  position:absolute;
  left:1856px;
  top:1493px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10762_seg0 {
  border-width:0px;
  position:absolute;
  left:-1408px;
  top:-5px;
  width:1408px;
  height:10px;
}
#u10762_seg1 {
  border-width:0px;
  position:absolute;
  left:-1408px;
  top:-5px;
  width:10px;
  height:345px;
}
#u10762_seg2 {
  border-width:0px;
  position:absolute;
  left:-1413px;
  top:325px;
  width:20px;
  height:20px;
}
#u10762_text {
  border-width:0px;
  position:absolute;
  left:-922px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10763 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1686px;
  width:0px;
  height:0px;
  color:#286EFF;
}
#u10763_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u10763_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u10763_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
